<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReactJs - Hello Component</title>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript">
        const divRoot = document.getElementById("root");

        function Hello() {
            return React.createElement("div", null, "Hello React!!");
        }

        ReactDOM.render(
            React.createElement(Hello, null), 
            divRoot);
    </script>
</body>
</html>